# --
# Copyright (C) 2001-2020 OTRS AG, https://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --

[% RenderBlockStart("SearchAJAX") %]
<div class="InnerContent">
    <fieldset class="TableLike">
        <div class="Clear"></div>
        <label for="Class">[% Translate("Class") | html %]</label>
        <div class="Field" id='DivClassID'>
            [% Data.ClassOptionStrg %]
        </div>
    </fieldset>
</div>

<div class="InnerContent" id="AJAXUpdate">

    <form action="[% Env("CGIHandle") %]" method="post" id="SearchForm">
        <input type="hidden" name="Action" value="[% Env("Action") %]" id="SearchAction"/>
        <input type="hidden" name="ClassID" value="[% Data.ClassID | html %]" id="SearchClassID"/>
        <input type="hidden" name="Subaction" value="Search"/>

        <fieldset class="TableLike Hidden" id='ITSMSearchProfile'>
            <div class="Clear"></div>
            <legend><span>[% Translate("Templates") | html %]</span></legend>
            <label for="SearchProfile">[% Translate("Search template") | html %]:</label>
            <div class="Field">
                <input type="hidden" id="SearchProfile" name="SearchProfile" value="[% Data.Profile | html %]"/>
                <div id="SearchProfileAddBlock">
                    <input type="text" name="ProfileName" id="SearchProfileAddName"/>
                    <button class="CallForAction" type="button" title="[% Translate("Create Template") | html %]" id="SearchProfileAddAction"><span>[% Translate("Add") | html %]</span></button>
                    <input type="hidden" name="SaveProfile" value="1"/>
                </div>
            </div>
            <div class="Field">
                <button id="SearchProfileNew" class="CallForAction" value="[% Translate("Create New") | html %]"><span>[% Translate("Create New") | html %]</span></button>
                <button id="SearchProfileDelete" class="CallForAction Hidden" value="[% Translate("Delete") | html %]"><span>[% Translate("Delete") | html %]</span></button>
                <button id="SearchProfileAsLink" class="CallForAction Hidden" value="[% Translate("Profile link") | html %]"><span>[% Translate("Profile link") | html %]</span></button>
            </div>
        </fieldset>

    </form>
</div>

<div class="ContentFooter Center">
    <button id="SearchFormSubmit" class="CallForAction Primary Hidden" value="Run Search"><span><i class="fa fa-search"></i>[% Translate("Run Search") | html %]</span></button>
</div>
[% RenderBlockEnd("SearchAJAX") %]

[% RenderBlockStart("AJAXContent") %]
<form action="[% Env("CGIHandle") %]" method="post" id="SearchForm">
    <input type="hidden" name="Action" value="[% Env("Action") %]" id="SearchAction"/>
    <input type="hidden" name="Subaction" value="Search"/>
    <input type="hidden" name="ClassID" value="[% Data.ClassID | html %]" id="SearchClassID">
    <input type="hidden" name="SearchDialog" value='1'>
    <input type="hidden" name="EmptySearch" value="[% Data.EmptySearch | html %]" id="EmptySearch"/>
    <fieldset class="TableLike Hidden" id='ITSMSearchProfile'>
        <legend><span>[% Translate("Templates") | html %]</span></legend>
        <label for="SearchProfile">[% Translate("Search template") | html %]:</label>
        <div class="Field">
            [% Data.ProfilesStrg %]
            <div id="SearchProfileAddBlock">
                <input type="text" name="ProfileName" id="SearchProfileAddName"/>
                <button class="CallForAction" type="button" title="[% Translate("Create Template") | html %]" id="SearchProfileAddAction"><span>[% Translate("Add") | html %]</span></button>
            </div>
        </div>
        <div class="Field">
            <button id="SearchProfileNew" class="CallForAction" value="[% Translate("Create New") | html %]"><span>[% Translate("Create New") | html %]</span></button>
            <button id="SearchProfileDelete" class="CallForAction Hidden" value="[% Translate("Delete") | html %]"><span>[% Translate("Delete") | html %]</span></button>
            <button id="SearchProfileAsLink" class="CallForAction Hidden" value="[% Translate("Profile link") | html %]"><span>[% Translate("Profile link") | html %]</span></button>
        </div>
        <div class="Clear"></div>
        <label>[% Translate("Save changes in template") | html %]:</label>
        <div class="Field">
            <input type="checkbox" name="SaveProfile" id="SaveProfile" value="1"/>
        </div>
    </fieldset>

    <fieldset class="TableLike Hidden" id='ITSMSearchFields'>
        <fieldset class="TableLike" id="SearchInsert">
            <legend><span>[% Translate("Filters in use") | html %]</span></legend>
        </fieldset>
        <fieldset class="TableLike">
            <legend><span>[% Translate("Additional filters") | html %]</span></legend>
            <label>[% Translate("Add another attribute") | html %]:</label>
            <div class="Field">
                [% Data.AttributesStrg %]
            </div>

            <div class="Clear"></div>
            <label for="PreviousVersionSearch">[% Translate("Also search in previous versions?") | html %]</label>
            <div class="Field">
                [% Data.PreviousVersionOptionStrg %]
            </div>

            <div class="Clear"></div>
            <label>[% Translate("Output") | html %]:</label>
            <div class="Field">
                [% Data.ResultFormStrg %]
            </div>
        </fieldset>
    </fieldset>
</form>
<fieldset class="TableLike Hidden" id="SearchAttributesHidden">
    <div class="Clear"></div>
    <label for="Number" id="LabelNumber">[% Translate("Number") | html %] [% Translate("(e. g. 10*5155 or 105658*)") | html %]:</label>
    <div class="Field">
        <input type="text" name="Number" value="[% Data.Number | html %]" class="W50pc" />
        <a class="RemoveButton" href="#" title="[% Translate("Remove this entry") | html %]"><i class="fa fa-minus-square-o"></i><span class="InvisibleText">[% Translate("Remove") | html %]</span></a>
    </div>

    <div class="Clear"></div>
    <label for="Name" id="LabelName">[% Translate("Name") | html %]:</label>
    <div class="Field">
        <input type="text" name="Name" value="[% Data.Name | html %]" class="W50pc" />
        <a class="RemoveButton" href="#" title="[% Translate("Remove this entry") | html %]"><i class="fa fa-minus-square-o"></i><span class="InvisibleText">[% Translate("Remove") | html %]</span></a>
    </div>

    <div class="Clear"></div>
    <label for="DeplStateIDs" id="LabelDeplStateIDs">[% Translate("Deployment State") | html %]:</label>
    <div class="Field">
        [% Data.CurDeplStateOptionStrg %]
        <a class="RemoveButton" href="#" title="[% Translate("Remove this entry") | html %]"><i class="fa fa-minus-square-o"></i><span class="InvisibleText">[% Translate("Remove") | html %]</span></a>
    </div>

    <div class="Clear"></div>
    <label for="InciStateIDs" id="LabelInciStateIDs">[% Translate("Incident State") | html %]:</label>
    <div class="Field">
        [% Data.CurInciStateOptionStrg %]
        <a class="RemoveButton" href="#" title="[% Translate("Remove this entry") | html %]"><i class="fa fa-minus-square-o"></i><span class="InvisibleText">[% Translate("Remove") | html %]</span></a>
    </div>

[% RenderBlockStart("AttributeRow") %]
    <div class="Clear"></div>
    <label for="[% Translate(Data.Key) | html %]" id="Label[% Data.Key %]" title="[% Translate(Data.Description) | html %]">[% Translate(Data.Name) | html %]:</label>
    <div class="Field">
        [% Data.InputString %]
        <a class="RemoveButton" href="#" title="[% Translate("Remove this entry") | html %]"><i class="fa fa-minus-square-o"></i><span class="InvisibleText">[% Translate("Remove") | html %]</span></a>
    </div>
[% RenderBlockEnd("AttributeRow") %]
    <div class="Clear"></div>
    [% Data.AttributesOrigStrg %]
</fieldset>
[% RenderBlockEnd("AJAXContent") %]
