# --
# Copyright (C) 2001-2017 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

<table border="0" cellspacing="1" cellpadding="0" width="100%">
    <tr>
        <td class="mainhead">[% Translate("ConfigItem") | html %]</td>
    </tr>
</table>
<table border="0" cellspacing="1" cellpadding="10" width="100%">
    <tr>
        <td class="contentkey">
            [% Translate("ConfigItem-Info") | html %]:
            <table border="0" cellspacing="3" cellpadding="0" width="100%">
                <tr>
                    <td class="contentkey">[% Translate("Class") | html %]:</td>
                    <td class="contentvalue">[% Data.Class | html %]</td>
                    <td class="contentkey">[% Translate("Created") | html %]:</td>
                    <td class="contentvalue">[% Data.CreateTime | Localize("TimeLong") %]</td>
                </tr>
                <tr>
                    <td class="contentkey">[% Translate("ConfigItem") | html %]:</td>
                    <td class="contentvalue">[% Data.CurrentName | html %]</td>
                    <td class="contentkey">[% Translate("Created by") | html %]:</td>
                    <td class="contentvalue">[% Data.CreateByName | html %]</td>
                </tr>
                <tr>
                    <td class="contentkey">[% Translate("Current Deployment State") | html %]:</td>
                    <td class="contentvalue">[% Translate(Data.CurDeplState) | html %]</td>
                    <td class="contentkey">[% Translate("Last changed") | html %]:</td>
                    <td class="contentvalue">[% Data.ChangeTime | Localize("TimeLong") %]</td>
                </tr>
                <tr>
                    <td class="contentkey">[% Translate("Current Incident State") | html %]:</td>
                    <td class="contentvalue">[% Translate(Data.CurInciState) | html %]</td>
                    <td class="contentkey">[% Translate("Last changed by") | html %]:</td>
                    <td class="contentvalue">[% Data.ChangeByName | html %]</td>
                </tr>
            </table>
        </td>
    </tr>
[% RenderBlockStart("Link") %]
    <tr>
        <td class="contentkey">
            [% Translate("Linked-Object") | html %]:
            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                <tr>
                    <td width="50%" valign="top">
                        <table border="0" cellspacing="3" cellpadding="0" width="100%">
[% RenderBlockStart("LinkType") %]
                            <tr valign="top">
                                <td class="contentkey" width="20%">[% Translate(Data.LinkTypeName) | html %]:</td>
                                <td class="contentvalue">
[% RenderBlockStart("LinkTypeRow") %]
                                    [% Data.LinkStrg %]<br>
[% RenderBlockEnd("LinkTypeRow") %]
                                </td>
                            </tr>
[% RenderBlockEnd("LinkType") %]
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
[% RenderBlockEnd("Link") %]
</table>
[% RenderBlockStart("Version") %]
<table border="0" width="640" cellpadding="0" cellspacing="0" bgcolor="#000000" class="container">
    <tr>
        <td>
            <table border="0" width="640" cellpadding="10" cellspacing="1" bgcolor="#ffffff">
                <tr>
                    <td>
                        <table border="0" width="100%" cellspacing="0" cellpadding="3">
                            <tr bgcolor="#ffffff">
                                <td valign="top" width="100%" class="contentkey">
                                    [% Translate("Version") | html %]&nbsp;[% Data.VersionNumber | html %]
                                    <table border="0" width="100%" cellspacing="0" cellpadding="1">
                                        <tr>
                                            <td class="contentkey" width="25%">[% Translate("Created") | html %]:</td>
                                            <td class="contentvalue">[% Data.CreateTime | Localize("TimeLong") %]</td>
                                        </tr>
                                        <tr>
                                            <td class="contentkey">[% Translate("Created by") | html %]:</td>
                                            <td class="contentvalue">[% Data.CreateByName | html %]</td>
                                        </tr>
                                        <tr>
                                            <td class="contentkey">&nbsp;</td>
                                            <td class="contentvalue">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td class="contentkey">[% Translate("Name") | html %]:</td>
                                            <td class="contentvalue">[% Data.Name | html %]</td>
                                        </tr>
                                        <tr>
                                            <td class="contentkey">[% Translate("Deployment State") | html %]:</td>
                                            <td class="contentvalue">[% Translate(Data.DeplState) | html %]</td>
                                        </tr>
                                        <tr>
                                            <td class="contentkey">[% Translate("Incident State") | html %]:</td>
                                            <td class="contentvalue">[% Translate(Data.InciState) | html %]</td>
                                        </tr>
[% RenderBlockStart("VersionRow") %]
                                        <tr>
                                            <td class="contentkey">
[% RenderBlockStart("VersionRowNamePre") %]
                                                &nbsp;&nbsp;&nbsp;&nbsp;
[% RenderBlockEnd("VersionRowNamePre") %]
                                                [% Translate(Data.Name) | html %]:&nbsp;&nbsp;
                                            </td>
                                            <td class="contentvalue">
[% RenderBlockStart("VersionRowValuePre") %]
                                                &nbsp;&nbsp;&nbsp;&nbsp;
[% RenderBlockEnd("VersionRowValuePre") %]
                                                [% Data.Value %]
                                            </td>
                                        </tr>
[% RenderBlockEnd("VersionRow") %]
[% RenderBlockStart("Attachments") %]
                                        <tr>
                                            <td>
                                                [% Translate("Attachments") | html %]:
                                            </td>
                                            <td>
                                                [% Data.Filename | html %]
                                            </td>
                                        </tr>
[% RenderBlockEnd("Attachments") %]
[% RenderBlockStart("AttachmentRow") %]
                                        <tr>
                                            <td>
                                            </td>
                                            <td>
                                                [% Data.Filename | html %]
                                            </td>
                                        </tr>
[% RenderBlockEnd("AttachmentRow") %]
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
[% RenderBlockEnd("Version") %]
